<!DOCTYPE html>
<html lang="vi" data-nhanh.vn-template="T0318">
<head>
    <meta name="robots" content="index, follow">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MediaMart - Hệ thống Siêu thị Điện máy hàng đầu Việt Nam</title>


    <meta name="title" content="MediaMart - Hệ thống Siêu thị Điện máy hàng đầu Việt Nam" />
    <meta name="keywords" content="Siêu thị, Siêu thị điện máy, điện máy, điện tử, điện lạnh, gia dụng, tin học, điện thoại, máy tính, nội thất" />
    <meta name="description" content="Siêu thị Điện máy Media Mart chuyên kinh doanh điện máy tivi, tủ lạnh, máy giặt, điều hòa, điện gia dụng, điện thoại, laptop, máy tính bảng giá tốt uy tín nhất" />



    <link rel="canonical" href="https://mediamart.vn" />

    <meta content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" name="robots" />

    <meta name="copyright" content="MediaMart.Vn" />
    <meta name="author" content="MediaMart.Vn" />
    <meta name="GENERATOR" content="MediaMart.Vn" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-language" content="vi" />
    <meta property="fb:app_id" content="" />
    <meta property="og:site_name" content="https://mediamart.vn" />

    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" itemprop="url" content="https://mediamart.vn" />
    <meta property="og:title" content="MediaMart - Hệ thống Siêu thị Điện máy hàng đầu Việt Nam" />
    <meta property="og:description" content="Siêu thị Điện máy Media Mart chuyên kinh doanh điện máy tivi, tủ lạnh, máy giặt, điều hòa, điện gia dụng, điện thoại, laptop, máy tính bảng giá tốt uy tín nhất" />
    <meta property="og:image" content="https://cdn.mediamart.vn/images/core/1f42eb8c.png" />
    <meta property="og:image:alt" content="MediaMart - Hệ thống Siêu thị Điện máy hàng đầu Việt Nam" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <link href="https://cdn.mediamart.vn/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="author" href="" />
    <link rel="publisher" href="" />




    <link href="~/Content/aufit.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <style type="text/css"></style>
    <style type="text/css">
        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

        body {
            font-family: 'Montserrat', sans-serif !important;
            font-size: 16px;
        }

        .logo img {
            max-height: 70px;
        }

        .fixed-top .logo img {
            max-height: 70px;
        }

        .menu-pc ul .lv1 > a {
            font-size: 14px;
            text-transform: none;
            font-weight: bold;
        }

        .nav li.active {
            color: #fff;
            border-bottom: 1px solid #e40779;
        }

        .footer-wrapper p {
            margin: 0;
        }

        .social .social-icon {
            color: #e91d29;
            background: #FFF;
        }

            .social .social-icon.fb:hover {
                color: #fff;
                background: #e91d29;
            }

        p i {
            color: #e91d29;
        }

        .bottom-footer {
            background-color: #e91d29;
        }

            .bottom-footer p {
                margin: 0;
                color: white;
            }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .title {
            padding-top: 25px;
            color: black;
            font-size: 14px;
            font-weight: bold;
        }

        h2 {
            font-size: 28px;
        }

        .datepicker-days table {
            width: 100%;
        }

        .datepicker-days tr th {
            font-size: 11px;
        }

        .datepicker-days tr td {
            font-size: 11px;
        }
    </style>
    <link href="~/Content/phone-call.css" rel="stylesheet" />
</head>
<body id="lama-theme">
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>
    <div class="bgcolor-main">
        <div class="container">
            <div class="row header-body">
                <div class="col-md-3 col-8">
                    <div class="box-logo">
                        <a class="logo-home" href="/">
                            <img src="~/Image/logo-home.png" alt="Logo" class="img-responsive"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-4 box-utilities">
                    <div class="flex flex-content-spacearound">
                        <div class="box-contact">
                            <a href="tel:1900 6788">
                                <b>1900 6788</b>
                                <span>Tư vấn bán hàng</span>
                            </a>
                        </div>
                        <div class="box-location">
                            <a href="https://mediamart.vn/he-thong-sieu-thi" target="_blank">
                                <b>Xem 300 Siêu thị ></b>
                                <span>Mở cửa: 8:00 - 21:30</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 box-search">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="menuhead-news flex flex-content-right">
                               
                                <ul class="list-unstyled">
                                    <li class="">
                                        <a rel="nofollow" class="nav-link" href="/admin/home">
                                            <span>Đăng nhập</span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/tu-van-tieu-dung" target="_blank" title="Tư vấn">
                                            <span>Tư vấn</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/vao-bep" target="_blank" title="Vào bếp">
                                            <span>Vào bếp</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 col-md-0"></div>
                        <div class="col-11 col-md-12 top-search" style="">
                            <form>
                                <input class="form-control form-inline search-input" type="text" required placeholder="Serial trên tem bảo hành" id="SearchActive" name="Code" style="border-radius:unset" />
                                <button type="button" class="btn-send" onclick="sendFormHome()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                @*<button type="button" class="btn btn-send" onclick="sendFormHome()" style="float:right;border-top-left-radius:50rem;border-bottom-left-radius:50rem;"> TRA CỨU</button>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div id="wrapper" style="position:relative;">

        <div class="bg-header">
            <div class="slidemb container ">

                <div class="header-main">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="~/">Trang chủ <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="~/kich-hoat">Kích hoạt bảo hành</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/bao-hanh">Bảo hành</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/tra-cuu-kich-hoat">Tra cứu kích hoạt</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/tra-cuu-bao-hanh">Tra cứu bảo hành</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/huong-dan">Hướng dẫn</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://mediamart.vn/bao-hanh" target="_blank">Trạm bảo hành</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <!--<div class="menu-pc">
                        <ul class="nav menu-pc">
                            <li class="lv1 @(ViewBag.Title == "trang chủ" ? "active" : "")"><a href="~/" title="Trang chủ">Trang chủ</a></li>
                            <li class="lv1 @(ViewBag.Title == "kích hoạt" ? "active" : "")"><a href="~/kich-hoat" title="Kích hoạt bảo hành">Kích hoạt</a></li>
                            <li class="lv1 @(ViewBag.Title == "bảo hành" ? "active" : "")"><a href="/bao-hanh" title="Bảo hành">Bảo hành</a></li>
                            <li class="lv1 @(ViewBag.Title == "tra cứu kích hoạt" ? "active" : "")"><a href="/tra-cuu-kich-hoat" title="Tra cứu kích hoạt">Tra cứu</a></li>
                            <li class="lv1 @(ViewBag.Title == "tra cứu bảo hành" ? "active" : "")"><a href="/tra-cuu-bao-hanh" title="Tra cứu bảo hành">Tra cứu bảo hành</a></li>
                            <li class="lv1 @(ViewBag.Title == "hướng dẫn" ? "active" : "")"><a href="/huong-dan" title="Hướng dẫn">Hướng dẫn</a></li>
                            <li class="lv1 @(ViewBag.Title == "trạm bảo hành" ? "active" : "")"><a href="https://mediamart.vn/bao-hanh" target="_blank" title="Trạm bảo hành">Trạm bảo hành</a></li>
                            <!--Đăng nhập khách hàng-->
                            <!--@*@if (User.Identity.IsAuthenticated)
                {
                    <li class="lv1 ">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="ti-power-off"></i> <span><b>Đăng xuất</b></span>
                            </a>
                        }
                    </li>
                }
                else
                {
                    <li class="lv1 "><a id="btn-login" href="#" title="ĐĂNG NHẬP">Đăng nhập</a></li>
                }*@
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div class="clearfix"></div>
        <div class="footer-content bg-footer">
            <div class="footer-hr"></div>
            <div class="container">
                <div class="clearfix pt-4"></div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/he-thong-sieu-thi" title="<b>THÔNG TIN MEDIAMART</b>">
                                    <span><b>THÔNG TIN MEDIAMART</b></span>
                                </a>
                            </li>
                            <li>
                                <a href="/he-thong-sieu-thi" title="Hệ thống 300 Siêu thị (8:00-21:30)">
                                    <span>Hệ thống 300 Siêu thị (8:00-21:30)</span>
                                </a>
                            </li>
                            <li>
                                <a href="/thong-tin-chung/gioi-thieu-cong-ty" title="Giới thiệu công ty">
                                    <span>Giới thiệu công ty</span>
                                </a>
                            </li>
                            <li>
                                <a href="/tuyen-dung" title="Tuyển dụng">
                                    <span>Tuyển dụng</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:hotro@mediamart.com.vn" title="Liên hệ và góp ý">
                                    <span>Liên hệ và góp ý</span>
                                </a>
                            </li>
                            <li>
                                <a href="/chinh-sach-chung/quy-dinh-thanh-toan" title="Phương thức thanh toán">
                                    <span>Phương thức thanh toán</span>
                                </a>
                            </li>
                        </ul>

                        <div class="wrapbox-getBanners banner-methodpay"
                             data-id="4"
                             data-limit="1">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" title="<b>Hỗ trợ khách hàng</b>">
                                    <span><b>Hỗ trợ khách hàng</b></span>
                                </a>
                            </li>
                            <li>
                                <a href="/ho-tro-mua-hang/huong-dan-mua-hang-online" title="Hướng dẫn mua hàng Online">
                                    <span>Hướng dẫn mua hàng Online</span>
                                </a>
                            </li>
                            <li>
                                <a href="/uu-dai-tra-gop" title="Mua hàng trả góp">
                                    <span>Mua hàng trả góp</span>
                                </a>
                            </li>
                            <li>
                                <a href="/chinh-sach-chung/chinh-sach-doi-tra-hang" title="Chính sách bảo hành, đổi trả">
                                    <span>Chính sách bảo hành, đổi trả</span>
                                </a>
                            </li>
                            <li>
                                <a href="/chinh-sach-chung/chinh-sach-giao-nhan" title="Giao hàng và lắp đặt">
                                    <span>Giao hàng và lắp đặt</span>
                                </a>
                            </li>
                            <li>
                                <a href="/chinh-sach-chung/quy-dinh-bao-mat" title="Chính sách bảo mật TT cá nhân">
                                    <span>Chính sách bảo mật TT cá nhân</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://tracuuhoadon.mediamart.com.vn" title="In hóa đơn điện tử">
                                    <span>In hóa đơn điện tử</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" title="<b>Tổng đài gọi hỗ trợ</b>">
                                    <span><b>Tổng đài gọi hỗ trợ</b></span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:19006788" title="Bán hàng: 1900 6788">
                                    <span>Bán hàng: 1900 6788</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:19006743" title="Bảo hành: 1900 6743">
                                    <span>Bảo hành: 1900 6743</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:19006741" title="Khiếu nại: 1900 6741">
                                    <span>Khiếu nại: 1900 6741</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="footer-social">
                            <ul class="list-unstyled" style="margin-top:-15px;">
                                <li>
                                    <a href="#" title="Theo dõi MediaMart trên">
                                        <span>Theo dõi MediaMart trên</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/DienmayMediaMart" title="MediaMart Facebook Fanpage">
                                        @*<span>MediaMart Facebook Fanpage</span>*@
                                        <img src="https://cdn.mediamart.vn/images/menu/mediamart-facebook-fanpage_7b8f3ccc.png" alt="MediaMart Facebook Fanpage" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/c/CongtyMediamart" title="MediaMart Youtube Channel">
                                        @* <span>MediaMart Youtube Channel</span>*@
                                        <img src="https://cdn.mediamart.vn/images/menu/mediamart-youtube-channel_53501d19.png" alt="MediaMart Youtube Channel" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/&commat;mediamart.official" title="MediaMart Tiktok Channel">
                                        @* <span>MediaMart Tiktok Channel</span>*@
                                        <img src="https://cdn.mediamart.vn/images/menu/mediamart-tiktok-channel_52e656aa.png" alt="MediaMart Tiktok Channel" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.mediamartvn.mediamartvn" title="Cập nhật MediaMart trên Mobile">
                                        <span>Cập nhật MediaMart trên Mobile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://apps.apple.com/vn/app/mediamartvn/id1572630752" title="MediaMart iOS App">
                                        @*<span>MediaMart iOS App</span>*@
                                        <img src="https://cdn.mediamart.vn/images/menu/mediamart-ios-app_4b5435b9.png" alt="MediaMart iOS App" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="MediaMart Android App">
                                        @* <span>MediaMart Android App</span>*@
                                        <img src="https://cdn.mediamart.vn/images/menu/mediamart-android-app_0f2f434d.png" alt="MediaMart Android App" />
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="clearfix"></div>
                        <a class="statusBCT" href="http://online.gov.vn/Home/WebDetails/2484" rel="nofollow" target="_blank">
                        </a>
                        <a class="noFake" href="/chinh-sach-chung/quy-trinh-giai-quyet-khieu-nai" target="_blank">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-createby bg-createby">
            <div class="container">
                <div class="createby">
                    © 2022 Công ty Cổ phần MEDIAMART Việt Nam - ĐCĐK: 29F Hai Bà Trưng. GPĐKKD số: 0102516308 do Sở KHĐT Tp.Hà Nội cấp ngày 15/11/2007.  Email: hotro@mediamart.com.vn. Điện thoại: 1900 6741. Fax: 0243 933 0766  Website: mediamart.vn / thegioidienmay.com
                </div>
            </div>
        </div>

        <div id="menu-mobile" class="d-lg-none">
            <!--    <div class="abc">-->
            <div class="content-menu-mb">
                <ul class="list-menu">

                    <li class="mobile-lv1">
                    </li>
                    <li class="mobile-lv1">
                        <a href="~/" title="TRANG CHỦ">
                            TRANG CHỦ
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/kich-hoat" title="Kích hoạt">
                            Kích hoạt
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/bao-hanh" title="Bảo hành">
                            Bảo hành
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/dang-nhap" title="Tra cứu">
                            Tra cứu
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/huong-dan" title="Hướng dẫn">
                            Hướng dẫn
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="https://mediamart.vn/bao-hanh" target="_blank" title="Trạm bảo hành">
                            Trạm bảo hành
                        </a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="mobile-lv1">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="ti-power-off"></i> <span><b>Đăng xuất</b></span>
                                </a>
                            }
                        </li>

                    }
                    else
                    {
                        <li class="mobile-lv1">
                            <a href="#" title="Đăng nhập" id="btn-login-mobile">
                                Đăng nhập
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!--    </div>-->
            <i class="fal fa-times"></i>
        </div>

        @*<div class="modal" tabindex="-1" role="dialog" id="model-login-f" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Bạn đăng nhập vào hệ thống ?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center" style="padding-bottom:30px;padding-top:30px;">
                            <a href="/admin/account/login" class="btn-info btn"><i class="fa fa-map-pin"></i> ĐẠI LÝ/ TRẠM BH</a>
                            <a href="/dang-nhap" class="btn-success btn"><i class="fa fa-street-view"></i> KHÁCH HÀNG</a>
                        </div>
                    </div>
                </div>
            </div>*@
        @* hotline call *@
        <div class="ring">
            <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
                <div class="coccoc-alo-ph-circle"></div>
                <div class="coccoc-alo-ph-circle-fill"></div>
                <a href="tel:19006788">
                    <div class="coccoc-alo-ph-img-circle">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myjquery.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    @*<script>
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(5000).slideUp(500);
        </script>*@
    <script>
        $("#btn-login").click(function () {
            $('#model-login-f').modal('show');
        })
        $("#btn-login-mobile").click(function () {
            $('#model-login-f').modal('show');
        })
    </script>

    <!-- MODAL CREATE -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-search-active-home" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body" id="createbody">
                    <p class="message text-center title" id="hMessage">THÔNG TIN SẢN PHẨM</p>
                    <table class="table-active-success" id="table-result-home">
                        <tr>
                            <td>Tên sản phẩm: </td>
                            <td id="hName"></td>
                        </tr>
                        <tr>
                            <td>Serial: </td>
                            <td id="hSerial"></td>
                        </tr>
                        <tr>
                            <td>Model: </td>
                            <td id="hModel"></td>
                        </tr>
                        <tr>
                            <td>Thương hiệu: </td>
                            <td id="hTrademark"></td>
                        </tr>
                        <tr>
                            <td>Ngày kích hoạt: </td>
                            <td id="hActive_date"></td>
                        </tr>
                        <tr>
                            <td>Hạn bảo hành: </td>
                            <td id="hLimited"></td>
                        </tr>
                        <tr>
                            <td>Ngày hết hạn: </td>
                            <td id="hEnd_date"></td>
                        </tr>
                    </table>
                </div>
                <div class="text-center form-group">
                    <button class="btn btn-outline-light rounded-pill btn-doithuong" data-dismiss="modal">ĐÓNG</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["DOMAIN"]';
            function sendFormHome() {
            //reset result
                $("#table-result-home").css("display", "none");
            //$("#box-result").css("display", "none");
            //$('#loader').css('display', 'block');

            var serial = $('#SearchActive').val();
            $.ajax({
                url: apiUrl + '/api/action/searchproduct?code=' + serial,
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    //hien thi message
                    //$('#loader').css('display', 'none');
                    //$("#box-result").css("display", "block");
                    $('#modal-search-active-home').modal('show')
                    $('#hMessage').html(result.Message);

                    //hien thi thong tin san pham
                    if (result.Data.length > 0) {
                        var product = result.Data[0];
                        $("#table-result-home").css("display", "block");
                        $('#hName').html(product.Name);
                        $('#hSerial').html(product.Code);
                        $('#hModel').html(product.Model);
                        $('#hTrademark').html(product.Trademark);
                        $('#hActive_date').html(product.Activedate);
                        $('#hLimited').html(product.Limited);
                        $('#hEnd_date').html(product.Enddate);
                    }
                }
            });

        }
    </script>


    @RenderSection("scripts", required: false)



</body>
</html>
